@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style0 {
    color: #707070;
    font-family: 'Helvetica Neue',serif;
    font-size: 1.125em;
    margin-left: 87px;
    margin-top: 460px;
    height: 47px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style0 {
    color: #707070;
    font-family: 'Helvetica Neue',serif;
    font-size: 2.3040000000000003em;
    margin-left: 178px;
    margin-top: 942px;
    height: 96px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style0 {
    color: #707070;
    font-family: 'Helvetica Neue',serif;
    font-size: 2.76em;
    margin-left: 213px;
    margin-top: 1129px;
    height: 115px
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style0 {
    color: #707070;
    font-family: 'Helvetica Neue',serif;
    font-size: 3.6em;
    margin-left: 278px;
    margin-top: 1472px;
    height: 150px
  }
}